.product-expo {
    margin: 2vw;
}

.product-expo-title {
    text-align: center;

    color: var(--transparent-dark-color);
    font-size: 2.3rem;

    margin: 4vw 40px 2vw 40px;
}

.product-expo-content {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
